/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --primary-color: #20C67A;
    --first-color: #4070F4;
    --second-color: #0E2431;
    --color1: #687d82;
    --color2: #80959a;
    --color3: #98aeb3;
    --color4: #afc6cb;
    --color5: #000000;
    --header-height: 3rem;

}

:root {
    --font-family: 'Inter';
    --body-font: 'Poppins', sans-serif;
    --font-style: normal;
    --font-weight: 400;
    --font-size: 50px;
    --line-height: 77px;
}

body::-webkit-scrollbar {
    /* background-color: #20C67A; */

    /* display: none; */
}



html {
    scroll-behavior: smooth;
}

.live {
    background-color: red;
    color: white;
    font-family: var(--body-font);
    border-radius: 6px;
}

/* NAVBAR STYLING STARTS */
.navbar {
    position: fixed;
    display: flex;
 
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    /* border: #4070F4 1px solid; */


}

.nav-links a {
    color: var(--color5);
    font-family: var(--body-font);
    font-size: 19px;

}

a {
    text-decoration: none;

}

li {
    list-style: none;
}

h1 {
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    font-style: var(--font-style);
    font-family: var(--body-font);
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--primary-color);
}
/* Style The Dropdown Button */
.dropbtn {
    /* background-color: #4CAF50; */
    /* color: white; */
    /* padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; */
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
   padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
  } */
/* LOGO */
.logo {
    font-size: 30px;
    font-family: var(--body-font);
    margin-left: 2%;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    padding-right: 30px;
}

.menu li:hover {
    border-radius: 5px;
    transition: 0.3s ease;

}

.menu li {
    padding: 5px 14px;
}

span img {
    color: var(--primary-color);
    font-size: 100px;
    width: 50%;
    color: white;
}


.btn__login {
    border-radius: 8px;
    border: 1px solid black;
}

.btn__register {
    background-color: var(--primary-color);
    border-radius: 8px;

}

/* HOME SCREEN */
.Inicio{
    height: 900px;
    padding-top: 5%;
}

.container {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.imgs img {
    width: 490px;
    height: 465px;
    /* border: 1px solid black; */

}

.header {
    display: flex;
    flex-direction: row;
}

.description {
    /* border: 1px solid black; */
    font-family: var(--font-family);
    padding-left: 3%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.descriptionv2 {
    /* border: 1px solid black; */
    font-family: var(--font-family);

    padding-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 590px;
    /* align-items: center; */
}
.aboutUs{
    width: 50%;
    text-align: center;

}
.cardss{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardss img{
    
    width: 25%;
}
.img-card{
    display: flex;
    justify-content: center;
}

.text {
    width: 70%;
    font-family: var(--font-family);
    font-size: 30px;
}
.textv2 {
    
    font-family: var(--font-family);
    font-size: 30px;
}

.title {
    width: 60%;
    font-size: 66px;
    font-weight: 400;
}

.btn {
    display: flex;


}

.btn__start {
    background-color: var(--primary-color);
    color: white;
    width: 22%;
    height: 77px;
    border-radius: 10px;
    border: none;
    color: white;
}

.btn__start a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.btn__leermas {
    background-color: #00000000;
    border: 1px solid black;
    border-radius: 18px;
    width: 22%;


}

.btn__leermas a {
    color: #000000;
    font-size: 30px;
    text-decoration: none;
}


.card__principal {
    padding-left: 4%;
}

.slides {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cards {
    background-color: #D9D9D9;
    width: 334px;
    height: 280px;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}
.modal-container{
   
    width: 100%;
    height: 900px;
    display: flex;
    padding-top: 0%;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    pointer-events: none;
    opacity: 0;
}
.modal-container-2{
   
    width: 100%;
    height: 800px;
    display: flex;
    /* padding-top: 0%; */
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    pointer-events: none;
    opacity: 0;
}
/* .modal{ */
    /* pointer-events: all; */
/* } */
.close{
    position: fixed;
    top: 10%;
    left: 82%;
    height: 30px;
    background-color: red;
    color: white;
    font-family: var(--font-family);
    border: #cf000000;
    font-weight: var(--font-weight);
}

.show{
    pointer-events: auto;
    opacity: 1;
}


/* Materias Section */
.Materias{
    padding-top: 5%;
    height: 900px;
}
.math{
    padding-top: 1%;
    display: flex;
    justify-content: center;
    height: 750px;
}
.informatic{
    padding-top: 4%;
    display: flex;
    justify-content: center;
    height: 700px;
}
.quimk{
    display: flex;
    justify-content: center;
    height: 750px;
}
.rows{
    display: flex;
    padding-top: 4%;
}

.col-1{
    display: flex;
    flex-direction: column;
    font-size: 34px;
    width: 50%;
}
.col-1-fisik{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.col-1-fisik .info{
    padding-top: 5%;
    width: 80%;
    font-size: 34px;
}
.quimicaInfo{
    text-align: center;
    width: 80%;
    /* border: #000000 1px solid; */
    height: 300px;
    font-size: 34px;
}
.col-1 input{
    width: 30%;
}

.col-2-fisik img{
    width: 95%;
}
.img-fisik{
    text-align: center;
}
.qmk{
    padding-top: 10%;
}

.quimica{
    background-image: url(assets/img/qimimka.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.butonn:focus{
    outline: 0;
  
  }
  
  .butonn::after{
    content: "";
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  .butonn:hover:after{
    bottom: 2px;
    left: 2px;
  }

 .col-1 .butonn{
  background-color: var(--color4);
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: "Segoe UI";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding:  .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 200px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.butonn{
    background-color: var(--color4);
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: "Segoe UI";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding:  .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 200px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

/* Comunidad Section */
.Comunidad{
    padding-top: 5%;
    height: 900px;
}

/* LOGIN PAGE */
.login {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.form {
    border: #868686bb 1px solid;
   padding-left: 2%;
   padding-right: 2%;
   /* padding-top: 2%; */
   border-radius: 25px;
   height: 590px;
   
}
.form2{
    border: #868686bb 1px solid;
   padding-left: 2%;
   padding-right: 2%;
   padding-top: 2%;
   border-radius: 25px;
   height: 400px;
   
}

.form h2 {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
}

.div__form {
    display: flex;
    flex-direction: column;
    padding-top: 8%;

}

.form input {
    width: 400px;
    height: 39px;
    font-size: 20px;
    border-radius: 11px;
}

.form label {
    font-family: var(--font-family);
}

.btnn {
    padding-top: 4%;
}

.entrar {
    width: 410px;
    height: 50px;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--font-family);
    font-size: 27px;
    border-radius: 18px;
}

.imgen_cat {
    /* border: #000000 1px solid; */
    width: 30%;
    padding-left: 10%;
    
}

/* REGISTRO SCREEN */
.Planes__Screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;

}

.CardPlan {
    background: #D9D9D9;
    border-radius: 20px;
    width: 447px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.info__study {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* width: 100%; */
}
.imagen{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: #000000 1px solid; */
    width: 100%;
}

.login-2{
    text-align: center;
    width: 100%;
}
/* .info__study img { */
   
    /* width: 272px;
    height: 326px; */
/* } */

.plus {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-start;
    /* border: #000000 1px solid; */
    width: 100%;

}

.plus img {
    width: 25px;
    height: 25px;
}

/* .btnStart { */
    /* border: #000000 1px solid; */
/* } */

.btn-start {
    background-color: var(--primary-color);
    color: white;
    width: 242%;
    height: 57px;
    border-radius: 10px;
    border: none;
    color: white;
}

.btn-start a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

/* STUDY FORM */
.studyForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 6%;
    /* border: #000000 1px solid; */
    gap: 10%;

}

.formStudy {
    display: flex;
    flex-direction: column;

}

/* .studyImg { */
    /* width: 50%; */
    /* border: #000000 1px solid; */
/* } */

.studyImg img {
    width: 500px;
    height: 642px;
}

.DoceImg img {
    width: 500px;
    height: 442px;
}

/* COUNIDAD */
.community{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.posts img{
    width: 30%;
}

.card{
    display: flex;
}

/* MATH */
.Math{
    padding-top: 3%;
    padding-left: 3%;
}
.vdeo{
    display: flex;
    justify-content: center;
    padding-top: 4%;
}

.CalculoDescription{

}

.questions{
    width:50%;
    border: #000000 1PX SOLID;
    display: flex;
    /* justify-content: space-between; */
}


.fomrTest{
    width: 100%;
    font-size: 18px;
    border: #000000 1PX SOLID;
}


.row{
    display: flex;
}

.testEx{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 800px;
}
.exam{
    background-color: #D9D9D9;
    width: 60%;
    font-size: 18px;
    padding-top: 2%;
    padding-left: 2%;
    height: 600px;
}





.popCard{
    width: 50%;
    background-color: #ffffff;
    border: #000000 1px solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popCard button{
    width: 20%;
}


.success{
    background-color: #20C67A;
    text-align: center;
    color: white;
    font-family: var(--body-font);
}

.warning{
    background-color: rgb(255, 0, 0);
    text-align: center;
    color: #ffffff;
    font-family: var(--body-font);
}

.activiti-modal{
   
    width: 100%;
    height: 800px;
   
    display: flex;
    padding-top: 0%;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    pointer-events: none;
    opacity: 0;
}


.show{
    pointer-events: auto;
    opacity: 1;
}

.activiti-card{
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 25px;
    background-color: white;
}